.signin-center{
display: flex;
justify-content: center;
padding-top: 8rem;
}

.signin-nav {
    padding-top: 3rem;
    padding-right: 3rem;
  }
  
.signin-nav > a {
    font-size: 1.4rem;
    margin: 0 2rem;
    background-color: rgb(10, 75, 132);
    padding: 10px;
    letter-spacing: 1.5px;
    border-radius: 8px;
    color: rgb(237, 234, 234);
    text-decoration: none;
    transition: .3s;
}

.signin-nav > a:hover {
color: rgb(4, 4, 41);
background-color: rgb(141, 196, 236);
}