.navbar__container {
  /* height: 6rem; */
  position: fixed;
  top: 10px;
  left: 10px;
  width: 90px;
  min-height: 200px;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.488);
  padding: 20px;
  padding-left: 0;
  transition: all .3s ease;
  box-sizing: border-box;
  z-index: 3000;
}



.navbar__container.active {
  width: 250px;
}

.navbar__container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: inherit;
  gap: 10px;
  padding-left: 19px;
  /* align-items: center; */
}



.navbar__item {
  margin-right: 15px;
  border-radius: 10px;
}

.navbar__item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 25px;
  text-transform: capitalize;
  color: white;
}

.navbar__item:hover {
  background-color: rgba(141, 200, 237, 0.1);
}

.navbar__item > a > p {
  font-weight: bold;
  letter-spacing: 1.2px;
  transition: transform 0.5s;
  transform: translateX(100px);
}

.navbar__container.active .navbar__item > a > p {
  transition-delay: calc(0.02s * var(--i));
  transform: translateX(0px);
}

.navbar__item.active a {
  color: white;
  background-color: rgb(10, 92, 169);
}

.icon {
  min-width: 30px;
  min-height: 30px;
  margin-right: 30px;
  position: relative;
}